.vidget {
    max-width: 720px;
}

.proverka {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 17px;
    margin-bottom: 15px;
}

.proverka__icon {
    margin-right: 25px;
    margin-top: 2px;
}

.proverka__right {
    padding-left: 15px;
    flex: 1;
    text-align: right;
    color: #ABA9A9;
}

.proverka__left {
    display: flex;
    align-items: center;
}

.proverka.rabotaet .proverka__left {
    color: #884594;
}

.proverka.ne-rabotaet .proverka__left {
    color: #ED793F;
}

.proverka.ne-ustanovlen .proverka__left {
    color: #ABA9A9;
}

.proverka .error {
    width: 100%;
    background: #FFEACA;
    border: 1px solid #FB8347;
    box-sizing: border-box;
    /* Light Shadow */
    box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
    border-radius: 3px;
    padding: 11px 14px;
    color: #ED793F;
    margin-top: 15px;
}

.shags {
    margin-top: 42px;
}

pre {
    background: #FFEACA;
    border-radius: 3px;
    font-size: 12px;
    padding: 16px;
    color: #383838;
    margin-bottom: 17px;
    font-family: 'Roboto Mono';
    overflow: auto;
}

.shag__content .btn-fiolet {
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}

.shag {
    background: #FFFFFF;
    /* Light Shadow */
    box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
    border-radius: 3px;
    margin-bottom: 21px;
}

.shag__title {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 25px;
    cursor: pointer;
}

.shag__title.active svg {
    transform: rotate(180deg);
}

.shag__content {
    display: none;
    padding: 19px 25px;
    padding-top: 0;
}

.text-copy {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px 25px;
    background: #FFEACA;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 92, 255, 0.15);
}

.vibor {
    display: flex;
    margin: 0 -10px;
}

.vibor__item {
    margin: 0 10px;
    cursor: pointer;
    width: calc(100% / 3 - 20px);
}

.vibor__img {
    width: 100%;
    height: 136px;
    background: #FFF4EE;
    border: 4px solid #FFEACA;
    border-radius: 4px;
    margin-bottom: 11px;
}

.vibor__img.vibor1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vibor__img.vibor3 span {
    position: relative;
}

.vibor__img.vibor3 span::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #E5E5E5;
    border-radius: 100%;
    position: absolute;
    right: -6px;
    top: -6px;
}

.vibor__img.vibor2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.vibor__name {
    font-weight: 800;
    margin-bottom: 3px;
}

.vibor__item.active .vibor__img {
    border: 4px solid #884594;
}

.vibor__content__item {
    display: none;
    margin-top: 39px;
}

.v__title {
    font-weight: 800;
    background: #FFF4EE;
    padding: 10px 5px;
    text-align: center;
}

.v__wrap {
    border: 2px solid #FFF4EE;
    border-radius: 3px;
    padding: 25px;
    margin-bottom: 25px;
}

.v__btns {
    border-bottom: 1px solid #E5E5E5;
    span {
        display: block;
        font-size: 13px;
        color: #000000;
        margin-bottom: 9px;
    }
    div {
        font-size: 13px;
        background: #FFEACA;
        border-radius: 3px;
        padding: 8px 10px;
        margin-bottom: 17px;
    }
}

.customer {
    padding-top: 28px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E5E5E5;
}

.customer__left {
    width: 50%;
}

.customer__right {
    width: 50%;
    padding-left: 15px;
}

.customer__bottom {
    width: 100%;
    display: flex;
}

.customer__inline__right {
    display: flex;
    align-items: center;
}

.customer__inline {
    margin-bottom: 15px;
    font-size: 13px;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: space-between;
    input.text {
        width: 81px;
        height: 30px;
        background: #FFEACA;
        border-radius: 3px;
        font-size: 13px;
        padding: 0 11px;
        text-transform: lowercase;
    }
    .color {
        padding: 5px;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

input[type="color"].white {
    border: 1px solid #D0D0D0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.custom__block {
    border-bottom: 1px solid #E5E5E5;
}

.custom__checkbox {
    display: flex;
    padding-top: 24px;
    .checkbox {
        display: flex;
        align-items: center;
        margin-right: 17px;
        font-size: 13px;
        label {
            margin-right: 14px;
        }
    }
}

.vidget-v {
    background-color: #ffffff;
    width: 216px;
    padding: 14px 16px;
}

.vkladka1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vidget-v {
    span {
        img {
            max-width: 86px;
            display: block;
        }
    }
    .vidget-v__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 19px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            margin-left: 14px;
            border: 1px solid #ebebeb;
        }
        .vidget-v__right {
            color: #000000;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-family: 'Roboto';
        }
    }
    .vidget-v__row:last-child {
        margin-bottom: 0;
    }
}

.button__text-input {
    font-size: 13px;
    color: #000000;
    margin-bottom: 14px;
    div {
        margin-bottom: 9px;
    }
    input {
        background: #FFEACA;
        border-radius: 3px;
        height: 30px;
        width: 267px;
        max-width: 100%;
        font-size: 13px;
        padding: 0 10px;
    }
}

.font-size-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 42px);
    margin-bottom: 14px;
    font-size: 13px;
}

.input-size {
    position: relative;
    span {
        height: 50%;
        width: 25px;
        display: flex;
        position: absolute;
        right: 0px;
        padding: 2px;
        cursor: pointer;
    }
    span:hover svg {
        transform: scale(1.1);
    }
    span.up {
        top: 0;
        align-items: flex-end;
    }
    span.down {
        bottom: 0;
        align-items: flex-end;
        transform: rotateX(180deg);
    }
    input {
        width: 82px;
        background: #FFEACA;
        border-radius: 3px;
        padding-left: 20px;
        height: 30px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

.right-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rich-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    min-width: 216px;
    min-height: 49px;
    cursor: pointer;
    transition: 0.3s all;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    border: 1px solid #ebebeb;
}

.rich-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.code-copy {
    padding-top: 27px;
    .code-copy__title {
        font-weight: 800;
        margin-bottom: 17px;
    }
}

.market__info.danger {
    background: #FFCACA;
    border: 1px solid #FF6767;
}

.vkladka2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vidget-v__bot {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.03em;
    span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        flex: 1;
        padding-right: 15px;
    }
}

.vidget-v__bot__img {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border-radius: 100%;
    background-color: #ffffff;
    padding: 10px;
    img {
        max-width: 100%;
    }
}

#vidget1 {
    width: 216px;
}

#vidget2 {
    width: 216px;
}

.customer__text-block,
.customer__img-block {
    padding-top: 14px;
    border-bottom: 1px solid #E5E5E5;
}

.logo-change {
    display: flex;
    align-items: flex-start;
    img {
        margin-right: 11px;
        width: 40px;
    }
    label {
        margin-bottom: 0;
    }
}

.logo-change.big {
    img {
        width: 77px;
    }
}

#vidget3 {
    padding-top: 28px;
    padding-bottom: 44px;
    padding-right: 15px;
    padding-left: 15px;
}

.vidget-v__wrap {
    background-color: #ffffff;
    width: 426px;
    margin: 0 auto;
    padding: 21px 15px;
    padding-bottom: 3px;
    position: relative;
    .vidget-v__title {
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        letter-spacing: 0.03em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        transform: translate(60%, -50%);
    }
}

@media(max-width: 767px) {
    #vidget3 {
        .vidget-v__wrap2 {
            display: flex;
            flex-direction: column;
        }
        .vidget-v__wrap {
            width: 225px;
        }
        .vidget-v__title {
            max-width: 280px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

.vidget-v__wrap2 {
    display: flex;
    align-items: center;
}

.content__3__wrap {
    border-bottom: 1px solid #E5E5E5;
    padding-top: 24px;
    padding-bottom: 20px;
    display: flex;
    margin: 0 -25px;
}

.content3__col {
    width: calc(50% - 50px);
    margin: 0 25px;
    .button__text-input input {
        width: 241px;
    }
    .custom__checkbox {
        padding-top: 0;
    }
}

.content3__title {
    font-size: 13px;
    margin-bottom: 12px;
    span {
        color: #ABA9A9;
    }
}

.customer__inline.timer {
    margin-bottom: 0;
    input {
        text-align: center;
        width: 61px;
    }
    span {
        display: block;
        width: 68px;
        margin-left: 12px;
    }
}

.shadow {
    .vidget-v {
        box-shadow: 4px 4px 25px rgba(0, 92, 255, 0.15);
    }
}

.ugli {
    .vidget-v {
        border-radius: 30px;
    }
    .vidget-v__bot {
        border-radius: 37px;
    }
    .vidget-v__right a {
        border-radius: 33px;
    }
}

#vidget3.shadow {
    .vidget-v {
        box-shadow: none;
    }
    .vidget-v__wrap {
        box-shadow: 4px 4px 25px rgba(0, 92, 255, 0.15);
    }
}

#vidget3.ugli {
    .vidget-v {
        border-radius: 0;
    }
    .vidget-v__wrap {
        border-radius: 30px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media(max-width: 767px) {
    .vidget {
        max-width: 100%;
    }
    .vibor__text {
        font-size: 14px;
    }
    .vibor__name {
        font-size: 14px;
    }
    .vibor {
        overflow: auto;
        padding-bottom: 10px;
        margin: 0;
    }
    .vibor__item {
        min-width: 180px;
        margin: 0;
        margin-right: 20px;
    }
    .shag__title {
        font-size: 14px;
        padding: 19px 15px;
        svg {
            margin-left: 15px;
            flex: 0 0 12px;
        }
    }
    .v__wrap {
        padding: 15px;
    }
    .proverka__right {
        font-size: 14px;
    }
    .customer {
        flex-direction: column-reverse;
    }
    .shag__content {
        padding: 19px 15px;
    }
    .customer__left,
    .customer__right {
        width: 100%;
    }
    .customer__inline {
        max-width: 280px;
    }
    .custom__block {
        padding-top: 30px;
    }
    .shags {
        margin: 0 -15px;
    }
    .font-size-input {
        max-width: 238px;
    }
    .button__text-input input {
        width: 238px;
    }
    .right-button-wrap {
        margin: 25px 0;
        margin-bottom: 35px;
    }
    .content__3__wrap {
        flex-direction: column;
        margin: 0;
    }
    .content3__col {
        width: 100%;
        margin: 0;
    }
    #vidget3 {
        padding-bottom: 25px;
    }
    .button__text-input {
        margin-bottom: 25px;
    }
    .font-size-input {
        margin-bottom: 25px;
    }
    .customer__inline.timer {
        margin-top: 25px;
    }
    .shags {
        margin-top: 50px;
    }
    .shags .title {
        padding: 0 15px;
    }
    .proverka {
        flex-direction: column;
        align-items: flex-start;
    }
    .proverka__right {
        padding-left: 0;
        margin-top: 15px;
    }
}