* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

ol {
    padding-left: 0;
}

input:focus {
    outline: none
}

textarea:focus {
    outline: none
}

button:focus {
    outline: none
}

textarea:focus {
    outline: none;
}

button,
input {
    font-family: 'Raleway', sans-serif;
    appearance: none;
}

body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #383838;
}